## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
t = app_train.shape
print('tatol rows = ' +str(t[0]))
print('tatol column = ' +str(t[1]))

tatol rows = 307511
tatol column = 122

In [5]:
#### 列出所有欄位

list(app_train.columns.values)

#### 截取部分資料

In [6]:
nn = app_train.filter(regex="FLAG_OWN_CAR")
print(nn)

       FLAG_OWN_CAR
0                 N
1                 N
2                 Y
3                 N
4                 N
5                 N
6                 Y
7                 Y
8                 N
9                 N
10                N
11                N
12                N
13                Y
14                N
15                Y
16                N
17                N
18                N
19                N
20                Y
21                Y
22                N
23                N
24                Y
25                N
26                N
27                N
28                Y
29                N
...             ...
307481            N
307482            Y
307483            N
307484            Y
307485            N
307486            Y
307487            N
307488            N
307489            N
307490            N
307491            Y
307492            Y
307493            N
307494            Y
307495            Y
307496            N
307497            Y
307498            Y
307499            N
307500            N
307501            N
307502            N
307503            N
307504            N
307505            N
307506            N
307507            N
307508            N
307509            N
307510            N

[307511 rows x 1 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子